* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  background-color: #0b1120;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}